{% extends "python/basic.html" %}
{% block css %}
.main{
    display: flex;
    justify-content: space-between;
    width : 100vw;
}
{% endblock %}

{% block body %}

<div class="main">
    <div class="secondary">
        <h1 class = "heading">HARSHIT GARG</h1>
        <li>
            <ol class = "theory">Python Logics</ol>
            <ol class = "theory">Django</ol>
            <ol class = "theory">Javascript</ol>
        </li>
    </div>
    <div class="secondary">
        <h1 class = "heading">AKHIL KUNDRA</h1>
        <li>
            <ol class = "theory">Python Logics</ol>
            <ol class = "theory">Html</ol>
            <ol class = "theory">Css</ol>
        </li>
    </div>
</div>
{% endblock %}