{% extends "python/basic.html" %}
    
    
{% block body %} 
<div class="maintheory">
    <div class="heading">get()</div><br>
    <div class="theory">
        returns the value for a given key (or a default value if the key is not found)
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/dictget">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">values()</div><br>
    <div class="theory">
        returns the value for a given key (or a default value if the key is not found)
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/dictvalues">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">keys()</div><br>
    <div class="theory">
        returns all keys of the dictionary
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/dictkeys">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">items()</div><br>
    <div class="theory">
        returns key-value pairs as tuples
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/dictitems">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">update()</div><br>
    <div class="theory">
        adds or updates key-value pairs in the dictionary
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/dictupdate">Click Here To See The Code</a><br><br>
    </div>
</div>
{% endblock %}