{% extends "python/basic.html" %}
    
    
{% block body %} 
<div class="maintheory">
    <div class="heading">sorted()</div><br>
    <div class="theory">
        returns a new sorted list from the given iterable
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/listsorted">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">append()</div><br>
    <div class="theory">
        adds a single element to the end of the list
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/listappend">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">extend()</div><br>
    <div class="theory">
        adds multiple elements from another iterable to the list
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/listextend">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">insert()</div><br>
    <div class="theory">
        inserts an element at a specific position in the list
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/listinsert">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">pop()</div><br>
    <div class="theory">
        removes and returns an element (default is last)
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/listpop">Click Here To See The Code</a><br><br>
    </div>
</div>
{% endblock %}