{% extends "python/basic.html" %}


{% block body %}
<div class="maintheory">
    <div class="heading">1. Parentheses</div><br>
    <pre class="theory">
Parentheses have the highest precedence.

Anything inside brackets is evaluated first.

Example
result = (2 + 3) * 4
print(result)

Output:

20
    </pre>
    <div class="link"><br><br>
    </div>
    <div class="heading">2. Exponent</div><br>
    <div class="theory">
        Used to calculate powers.
    </div><br>
    <div class="link">
        <a href="http://127.0.0.1:8000/operatorexponent">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="font heading">
    3. Unary Operators
</div>
<pre class="font theory">
These work on a single operand. <br>
</pre>
<div class="font subheading">a) Positive</div><br>
<pre class="font theory">
Does Not Change The Number</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorunaryplus">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">b) Negative</div><br>
<pre class="font theory">
Changes Sign Of Number</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorunaryminus">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">c) Bitwise Not</div><br>
<pre class="font theory">
Convert 0 To 1 And 1 To Bits Of A Number</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorbitwisenot">Click Here To See The Code</a><br><br>
</div>
<div class="font heading">
    4. Arithmetic Operators
</div>
<pre class="font theory">
These work on a single operand. <br>
</pre>
<div class="font subheading">a) Multiplication</div><br>
<pre class="font theory">
Multiply 2 Numbers</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatormultiplication">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">b) division</div><br>
<pre class="font theory">
Divide One Number By Another</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatordivision">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">c) Floor Division</div><br>
<pre class="font theory">
Gives Greatest Smallest Integer After Division</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorfloordivision">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">d) Modulus</div><br>
<pre class="font theory">
Gives Remainder After Division</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatormodulus">Click Here To See The Code</a><br><br>
</div>
<div class="heading">5. Addition</div><br>
<div class="theory">
    Adds two numbers
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatoraddition">Click Here To See The Code</a><br><br>
</div>
<div class="heading">6. Subtraction</div><br>
<div class="theory">
    Adds two numbers
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorsubtraction">Click Here To See The Code</a><br><br>
</div>
<div class="font heading">
    7. Bitwise Shift Operators
</div>
<pre class="font theory">
These work on a single operand. <br>
</pre>
<div class="font subheading">a) Left Shift</div><br>
<pre class="font theory">
Shift Bits To The Left</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorbsl">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">b) Right Shift</div><br>
<pre class="font theory">
Shift Bits To The Right</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorbsr">Click Here To See The Code</a><br><br>
</div>
</div>
<div class="heading">8. Bitwise AND</div><br>
<div class="theory">
    Performs AND operation in bits of two numbers
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorbitwiseand">Click Here To See The Code</a><br><br>
</div>
</div>
<div class="heading">9. Bitwise XOR</div><br>
<div class="theory">
    Performs XOR operation in bits of two numbers
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorbitwisexor">Click Here To See The Code</a><br><br>
</div>
</div>
<div class="heading">10. Bitwise OR</div><br>
<div class="theory">
    Performs OR operation in bits of two numbers
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorbitwiseor">Click Here To See The Code</a><br><br>
</div>
<div class="font heading">
    11. Comparison, Identity, Membership Operators
</div>
<pre class="font theory">
These work on a single operand. <br>
</pre>
<div class="font subheading">a) Equal</div><br>
<pre class="font theory">
Checks That If 2 Numbers Are Equal Or Not</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorisequal">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">b) Not Equal</div><br>
<pre class="font theory">
Checks That If 2 Numbers Are Not Equal</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorisnotequal">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">c) Greater Than</div><br>
<pre class="font theory">
Checks If 1 Number Is Greater Than Another Or Not</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorgreater">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">d) Smaller Than</div><br>
<pre class="font theory">
Checks If 1 Number Is Smaller Than Another Or Not</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorsmaller">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">e) Greater Than Or Equal</div><br>
<pre class="font theory">
Checks If 1 Number Is Greater Than Or Equal To Another Or Not</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorgreaterequal">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">f) Smaller Than Or Equal</div><br>
<pre class="font theory">
Checks If 1 Number Is Smaller Than Or Equal To Another Or Not</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorsmallerequal">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">g) Is</div><br>
<pre class="font theory">
Checks If 2 Elements Are Same</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatoris">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">h) Is Not</div><br>
<pre class="font theory">
Checks If 2 Elements Are Not Same</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorisnot">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">i) In</div><br>
<pre class="font theory">
Checks If One Element Is Member Of Another Element</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorin">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">j) Not In</div><br>
<pre class="font theory">
Checks If One Element Is Not A Member Of Another Element</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatornotin">Click Here To See The Code</a><br><br>
</div>
</div>
<div class="heading">12. Logical NOT</div><br>
<div class="theory">
    Reverses boolean value
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorlnot">Click Here To See The Code</a><br><br>
</div>
<div class="heading">13. Logical AND</div><br>
<div class="theory">
    Returns True only if both conditions are true.
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorland">Click Here To See The Code</a><br><br>
</div>
<div class="heading">14. Logical OR</div><br>
<div class="theory">
    Returns True if at least one condition is true.
</div><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorlor">Click Here To See The Code</a><br><br>
</div>
</div>
<div class="font heading">
    15. Assignment Operators
</div>
<pre class="font theory">
These work on a single operand. <br>
</pre>
<div class="font subheading">a) Assign</div><br>
<pre class="font theory">
Assigns Value</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorassopereq">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">b) Addition Assign</div><br>
<pre class="font theory">
Adds Assigned Value</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorassopereqpl">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">c) Subtraction Assign</div><br>
<pre class="font theory">
Subtracts Assigned Value</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorassopereqsu">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">d) Multiplication Assign</div><br>
<pre class="font theory">
Multiplies Assigned Value</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorassopereqmu">Click Here To See The Code</a><br><br>
</div>
<div class="font subheading">e) Division Assign</div><br>
<pre class="font theory">
Divides By Assigned Value</pre><br>
<div class="link">
    <a href="http://127.0.0.1:8000/operatorassopereqdi">Click Here To See The Code</a><br><br>
</div>
</div>
{% endblock %}