{% extends "python/basic.html" %}


{% block body %}
<div class="maintheory">
    <div class="heading">add()</div><br>
    <div class="theory">
        Adds a single element
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/setsadd">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">remove()</div><br>
    <div class="theory">
        Removes an element (error if not found)
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/setsremove">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">update()</div><br>
    <div class="theory">
        Adds multiple elements to a set
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/setsupdate">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">discard()</div><br>
    <div class="theory">
        Removes an element (no error if not found)
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/setsdiscard">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">union()</div><br>
    <div class="theory">
        Combines two sets
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/setsunion">Click Here To See The Code</a><br><br>
    </div>
</div>
{% endblock %}