{% extends "python/basic.html" %}
    
    
{% block body %} 
<div class="maintheory">
    <div class="heading">upper()</div><br>
    <div class="theory">
        converts all characters to uppercase
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/stringupper">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">lower()</div><br>
    <div class="theory">
        converts all characters to lowercase
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/stringlower">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">title()</div><br>
    <div class="theory">
        converts first letter of each word to uppercase
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/stringtitle">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">capitalize()</div><br>
    <div class="theory">
        converts first letter of whole string to uppercase
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/stringcapitalize">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">strip()</div><br>
    <div class="theory">
        removes spaces (or specified characters) from both ends of a string
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/stringstrip">Click Here To See The Code</a><br><br>
    </div>
</div>
{% endblock %}