{% extends "python/basic.html" %}
    
    
{% block body %} 
<div class="maintheory">
    <div class="heading">count()</div><br>
    <div class="theory">
        returns the number of times an element appears
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/tuplecount">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">index()</div><br>
    <div class="theory">
        returns the position of the first occurrence of an element
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/tupleindex">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">len()</div><br>
    <div class="theory">
        returns the number of elements
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/tuplelen">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">max()</div><br>
    <div class="theory">
        returns the largest element
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/tuplemax">Click Here To See The Code</a><br><br>
    </div>
</div>
<div class="maintheory">
    <div class="heading">min()</div><br>
    <div class="theory">
        returns the smallest element
    </div>
    <div class="link">
        <a href="http://127.0.0.1:8000/tuplemin">Click Here To See The Code</a><br><br>
    </div>
</div>
{% endblock %}